<html>
	<head>
		<meta charset="utf-8">
		<meta property="og:title" content="HANJU">
		<meta property="og:image" content="http://kimhanju.pythonanywhere.com/static/images/hanju.JPG">
		<title>Kimhanju's First Django Blog</title>
	</head>
	<body>
		<script>
		function google() {
			return document.getElementById("googleInput").value;
		}
		function naver() {
			return document.getElementById("naverInput").value;
		}
		function youtube() {
			return document.getElementById("youtubeInput").value;
		}
		</script>
		<div>
			<h1>Kimhanju's First Django Blog</h1>
		</div>
		<div>
			<p>My first post</p>
			<br>
			<a href="https://www.google.co.kr/" target ="_blank"><img src="http://kimhanju.pythonanywhere.com/static/images/Google.JPG" width="200px" height = "100px"/><br>Let's go Google!</a>
			<input type="text" id="googleInput"/>
			<button onclick='window.open("https://www.google.com/search?q=" + google())' id="googleButton">Search on Google</button>
			<br><br>
			<a href="https://www.naver.com/" target ="_blank"><img src="http://kimhanju.pythonanywhere.com/static/images/naver.JPG" width="200px" height = "100px"/><br>Let's go NAVER!</a>
			<input type="text" id="naverInput"/>
			<button onclick='window.open("https://search.naver.com/search.naver?query=" + naver())' id="naverButton">Search on NAVER</button>
			<br><br>
			<a href="https://klas.khu.ac.kr/" target ="_blank"><img src="http://kimhanju.pythonanywhere.com/static/images/KLAS.JPG" width="200px" height = "100px"/><br>Let's go KLAS!</a>
			<br><br>
			<a href="https://www.youtube.com/" target ="_blank"><img src="http://kimhanju.pythonanywhere.com/static/images/YouTube.JPG" width="200px" height = "100px"/><br>Let's go YouTube!</a>
			<input type="text" id="youtubeInput"/>
			<button onclick='window.open("https://www.youtube.com/results?search_query=" + youtube())' id="youTubeButton">Search on YouTube</button>
		</div>
		</div>
	</body>
</html>
